<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Marley's Boon</title>
  </head>
  <body>
    <div class="container">
      <h1>
        <a href="<%= url('/') %>">
          <img class="float-left mr-3" width="170" src="<%= url('/bob.jpg') %>" alt="">
        </a>
        Marley's Boon
        <p><small class="text-muted">A reliable way to combat starvation.</small></p>
      </h1>

      <%= yield %>
    </div>
  </body>
</html>
