<h3>Recipe #404: There's No Recipe</h3>

<p>This very secret recipe has been hidden for centuries, but now that you discovered this page, we can finally reveal it: There's no secret recipe. The secret is simple: anything you cook tastes better if you put just a tiny bit of love in your dish.</p>
<p>Probably that wasn't something you were looking for. Try to <a href="<%= url('/') %>">go to the home page</a> and find something else.</p>
